{{ define "main" }}

{{ partial "navigation.html" . }}

{{"<!-- Start Blog Section -->" | safeHTML}}
<section id="blog" class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        {{"<!-- section title -->" | safeHTML}}
        <div class="title text-center wow fadeInDown">
                <!--  PARA VER LA PAGINA TEMPORAL {{.Page.RelPermalink}}-->
                {{ if  eq .Page.RelPermalink "/author/" }}
                        <h2>{{ with i18n "listAllAuthor" }} {{ index (split . " ") 0 | safeHTML }} {{ end }}<span class="color">
                        {{ with i18n "listAllAuthor" }} {{ index (split . " ") 1 | safeHTML }} {{ end }}</span></h2>
                {{else if  eq .Page.RelPermalink "/tags/"}}
                        <h2><span class="color">{{ with i18n "listAllTags" }}{{ . }}{{end}}</span></h2>
                {{else if  eq .Page.RelPermalink "/retos/"}}
                        <h2><span class="color">{{ with i18n "retosTitle" }}{{ . }}{{end}}</span></h2>       
                {{else if  eq .Page.RelPermalink "/categories/"}}
                        <h2><span class="color">{{ with i18n "listAllCategories" }}{{ . }}{{end}}</span></h2>                        
                {{ else }}
                        <h2> {{ with i18n "blogTitle" }} {{ index (split . " ") 0 | safeHTML }} {{ end }}<span class="color">
                        {{ with i18n "blogTitle" }} {{ index (split . " ") 1 | safeHTML }} {{ end }}{{.Page.Data.Term}}</span></h2>
                {{ end }}
          <div class="border-meghna"></div>
        </div>
      </div>
      {{"<!-- /section title -->" | safeHTML}}
      <!-- Renderizar categorias/Tags-->
        {{if  or (eq .Page.RelPermalink "/tags/") (eq .Page.RelPermalink "/categories/")}}              
              {{ $paginator := .Paginate .Data.Pages }}
              {{ range $paginator.Pages }}
              {{ .Render "taxonomies" }}
              {{ end }}   
        {{else if eq .Page.RelPermalink "/author/"}}              
                {{ $paginator := .Paginate .Data.Pages }}
                {{ range $paginator.Pages }}
                {{ .Render "cartaAutor" }}
                {{ end }}  
        {{ else }}
                {{ $paginator := .Paginate .Data.Pages}}
                {{ range $paginator.Pages.ByDate.Reverse }}
                {{ .Render "article" }}
                {{ end }}    
                
        {{ end }}
      <!-- Renderizar categorias/Tags-->
      
      <div class="col-12">
        {{ template "_internal/pagination.html" . }}
      </div>
    </div>
  </div>
</section>
{{"<!-- /blog -->" | safeHTML}}

{{ end }}
